datasets
matplotlib
python-dotenv
openai
pymongo==3.12.3
chromadb 
tqdm 
tabulate 
torch 
transformers 
pillow
requests
pymongo
open-clip-torch
langchain-community
langchain-core
langchain-openai
langchain_google_genai
streamlit
SpeechRecognition 
PyAudio 
streamlit-webrtc 
pydub
